
{{> head }}
{{> navbar }}
   
   <div class="col-8">
       <h1>Aqui hay una tabla</h1>
   </div>
   <div class="col-4">
       <img src="assets/img/Meteorito_negro.jpg" class="img-thumbnail" alt="Imagen del meteorito de Asta">
   </div>

{{> footer }}
